<div class="{{ class  }} v3 one-column">
  <div class="section-wrapper drop-shadow">
      <div class="wtd-tdl-wrapper">
        <div class="whole col">
          <h3 class="section-headline">{{{ prototype.copy.nextSteps.headline }}}</h3>
          <h4 class="section-subhead">{{{ prototype.copy.nextSteps.subhead }}}</h4>
        </div>
        <ul id="wtd-tips" class="whole wtd-tips toggle-down-list">
          {{#each prototype.copy.nextSteps.steps }}
            <li class="tdl-item">
              <div class="tdl-caret-headline-wrapper">
                {{> caret}}
                {{> checkbox-check }}
                <div class="tdl-headline-wrapper">
                  <div class="wtd-num-wrapper">
                    {{> what_to_do_svg number=(breachMath @index "+" 1)}}
                  </div>
                  <h4 class="tdl-headline">{{{ headline }}}</h4>
                </div>
              </div>
              <div class="tdl-child">
                <p>{{ body }}</p>
                <button class="check-done">
                  <span class="mark-as-done">Mark as Done</span>
                  <span class="marked-as-done">
                    <span class="checkmark-spacing">Marked as Done</span>
                    {{> checkbox-check }}
                  </span>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
</div>
