<div id="what-to-do" class="{{ class  }} v3 one-column">
  <div class="section-wrapper drop-shadow">
      <div class="wtd-ac-wrapper">
        <div class="whole">
          <span class="section-headline">{{{ prototype.copy.nextSteps.headline }}}
            <span class="section-subhead">{{{ prototype.copy.nextSteps.subhead }}}.
              {{!-- <span class="arrow-symbol">&#xbb;</span> --}}
            </span>
          </span>
        </div>
        <ul class="whole checkbox-cluster accordian toggle-down-list">
          {{#each prototype.copy.nextSteps.steps }}
            <li class="ac-item">
              <div class="ac-caret-headline-wrapper">
                {{> caret}}
                {{> checkbox-check }}
                <div class="ac-headline-wrapper">
                  <div class="wtd-num-wrapper">
                    {{> what_to_do_svg number=(breachMath @index "+" 1)}}
                  </div>
                  <h4 class="ac-headline">{{{ headline }}}</h4>
                </div>
              </div>
              <div class="ac-child">
                <p>{{ body }}</p>
                <button class="check-done">
                  <span class="mark-as-done">Mark as Done</span>
                  <span class="marked-as-done">
                    <span class="checkmark-spacing">Marked as Done</span>
                    {{> checkbox-check }}
                  </span>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
</div>
